@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-12rem) rotate(0deg); }
  80% {
    transform: rotate(180deg); }
  60% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(12rem); }
  80% {
    transform: rotate(-180deg); }
  60% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.heading-primary {
  text-transform: uppercase;
  margin-bottom: 6rem;
  backface-visibility: hidden;
  color: #fff; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    animation: moveInLeft 3s ease-out 1s;
    letter-spacing: 3rem; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    animation: moveInRight 3s ease-out 1s;
    letter-spacing: 1rem; }

.heading-secondary {
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #00c3ff, #eeff00);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skewY(5deg) skewX(15deg) scale(1.1);
    text-shadow: 1rem 2rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  text-transform: uppercase;
  font-size: 2rem; }

.paragraph {
  font-size: 1.5rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 5rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 2.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 5rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.btn {
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.4s;
  padding: 2rem 4rem;
  position: relative;
  font-size: 1.5rem; }
  .btn:link, .btn:visited {
    text-transform: uppercase; }
  .btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scale(2);
      opacity: 0; }
  .btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /* transition  is always in the initial state */
    transition: all 0.4s; }
  .btn-white {
    background-color: #fff;
    color: #777; }
    .btn-white::after {
      background-color: #fff; }
  .btn-animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    /* backwards means the initial state only happens when the animation starts */
    animation-fill-mode: backwards; }

.row {
  max-width: 114rem;
  background-color: #eee;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right, rgba(238, 255, 0, 0.8), rgba(0, 195, 255, 0.8)), url("../img/digital_art_illustration_ali_008.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100vw 0, 100vw 75vh, 50vw 95vh, 30vw 95vh, 0 75vh); }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    text-align: center; }

.section-about {
  padding: 25rem 0;
  margin-top: -20vh;
  background-color: #f7f7f7; }
